html {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  background-color: hsla(78, 100%, 4%, 0.995);
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
}

main {
  background-color: hsla(71, 20%, 89%, 0.993);
  color: hsla(78, 100%, 4%, 0.995);
  padding-left: 3.125rem;
  padding-top: 1.5625rem;
}

h1 {
  font-size: 6.25rem;
  font-style: italic;
  text-align: left;
  padding-left: 3.125rem;
  color: rgba(248, 244, 9, 0.774);
  padding-top: 10.9375rem;
  font-family: "DM Serif Text", serif;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  padding-left: 3.125rem;
  font-size: 1.875rem;
  color: rgba(248, 244, 9, 0.774);
}
nav {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  justify-content: space-evenly;
  background-color: hsla(78, 100%, 4%, 0.995);
  opacity: 0.9;
  position: fixed;
  width: 98.55%;
  border-bottom: 0.03125rem solid rgba(248, 244, 9, 0.774);
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  z-index: 2;
}

nav a {
  font-family: "Raleway", sans-serif;
  display: inline-flex;
  font-size: 1.875rem;
  color: rgba(248, 244, 9, 0.774);
  text-decoration: none;
}

#headerPic1 {
  width: 12.5rem;
  height: 12.5rem;
  float: right;
  display: none;
  margin-top: 6.25rem;
  margin-right: 3.125rem;
  border: 0.0625rem solid rgba(248, 244, 9, 0.774);
}
#headerPic2 {
  width: 12.5rem;
  height: 12.5rem;
  float: right;
  display: inline;
  margin-top: 6.25rem;
  margin-right: 3.125rem;
  border: 1px solid rgba(248, 244, 9, 0.774);
}

#profilePhoto {
  width: 33%;
  height: 33%;
  border-radius: 50%;
  border: 0.03125rem solid rgba(248, 244, 9, 0.774);
  float: left;
  margin-right: 1.5625rem;
  margin-bottom: 1.5625rem;
}
section p {
  padding-left: 1.5625rem;
  text-align: justify;
  padding-right: 1.5625rem;
  float: clear;
}

.skillsContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-evenly;
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  padding-bottom: 3.125rem;
}
.icon {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.3125rem;
}

h4 {
  font-size: 0.75rem;
  text-align: right;
  color: rgba(248, 244, 9, 0.774);
  padding-right: 1rem;
}
.acknowlegment {
  font-size: 0.625rem;
  text-align: right;
  color: white;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.acknowlegment a {
  color: rgba(248, 244, 9, 0.774);
}
.contactHead {
  color: rgba(248, 244, 9, 0.774);
}
#contactContainerMain {
  display: flex;
  flex-direction: row;
  width: 12.5rem;
  align-content: flex-start;
  justify-content: space-evenly;
  padding-bottom: 12.5rem;
  padding-left: 3.125rem;
}
footer {
  background-image: url("./Images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer a {
  text-decoration: none;
}

/* contact page styling*/
#contactBackground {
  background-image: url("./Images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#contactContainer {
  display: flex;
  flex-direction: row;
  width: 11.25rem;
  align-content: flex-start;
  justify-content: space-evenly;
  padding-bottom: 12.5rem;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
    text-align: left;
    margin-left: 0;
    padding-top: 2rem;
  }
  h2,
  h3 {
    text-align: center;
  }
  #headerPic1 {
    width: 8rem;
    height: 8rem;
    margin-top: 0.5rem;
    margin-right: 0;
  }
  #headerPic2 {
    width: 8rem;
    height: 8rem;
    margin-top: 0.5rem;
    margin-right: 0;
  }
  #profilePic {
    display: block;
    position: absolute;
  }
  nav {
    flex-direction: column;
    position: relative;
    align-content: space-between;
    justify-content: left;
  }
  nav a {
    font-size: 1.25rem;
  }
  section p {
    padding-left: 1rem;
    padding-right: 1rem;
    float: none;
    font-size: 1rem;
  }
  main {
    padding-left: 1rem;
  }
  #contactContainer {
    width: 3 rem;
    padding-left: -20px;
    flex-direction: column;
  }
  #contactContainerMain {
    width: 3 rem;
    padding-left: -20px;
    flex-direction: column;
  }
  .skillsContainer {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  @media only screen and (max-width: 320px) {
    h1 {
      font-size: 2rem;
      text-align: left;
      margin-left: 0;
      padding-top: 2rem;
    }
    h2,
    h3 {
      text-align: center;
    }
    #headerPic1 {
      width: 8rem;
      height: 8rem;
      margin-top: 0.5rem;
      margin-right: 0;
      display: none;
    }
    #headerPic2 {
      width: 8rem;
      height: 8rem;
      margin-top: 0.5rem;
      margin-right: 0;
    }
    #profilePic {
      display: block;
      position: absolute;
    }
    nav {
      flex-direction: column;
      position: relative;
      align-content: space-between;
      justify-content: left;
    }
    nav a {
      font-size: 1.25rem;
    }
    section p {
      padding-left: 1rem;
      padding-right: 1rem;
      float: none;
      font-size: 1rem;
    }
    main {
      padding-left: 1rem;
    }
    #contactContainer {
      width: 6.5rem;
      padding-left: 1rem;
      flex-direction: column;
    }
    #contactContainerMain {
      width: 3 rem;
      padding-left: -20px;
      flex-direction: column;
    }
  }
  .skillsContainer {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
  }
}
