html {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  background-color: hsla(78, 100%, 4%, 0.995);
  font-family: "Raleway", sans-serif;
}

main {
  background-color: hsla(71, 20%, 89%, 0.993);
  color: hsla(78, 100%, 4%, 0.995);
  padding-left: 50px;
  padding-top: 25px;
}

h1 {
  font-size: 100px;
  font-style: italic;
  text-align: left;
  padding-left: 50px;
  color: rgba(248, 244, 9, 0.774);
  padding-top: 175px;
  font-family: "DM Serif Text", serif;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}

h3 {
  font-family: "Raleway", sans-serif;
  padding-left: 50px;
  font-size: 30px;
  color: rgba(248, 244, 9, 0.774);
}
nav {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  background-color: hsla(78, 100%, 4%, 0.995);
  opacity: 0.9;
  position: fixed;
  width: 98.55%;
  border-bottom: 0.5px solid rgba(248, 244, 9, 0.774);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 500px;
  z-index: 2;
}

nav a {
  font-family: "Raleway", sans-serif;
  display: inline-flex;
  font-size: 30px;
  color: rgba(248, 244, 9, 0.774);
  text-align: right;
  text-decoration: none;
}

.headerPic1 {
  width: 200px;
  height: 200px;
  float: right;
  display: none;
  margin-top: 100px;
  margin-right: 50px;
  border: 1px solid rgba(248, 244, 9, 0.774);
}
.headerPic2 {
  width: 200px;
  height: 200px;
  float: right;
  display: inline;
  margin-top: 100px;
  margin-right: 50px;
  border: 1px solid rgba(248, 244, 9, 0.774);
}

#profilePhoto {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-clip: border-box;
  border: 0.5px solid rgba(248, 244, 9, 0.774);
}

.skillsContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.icon {
  width: 25px;
  height: 25px;
}

h4 {
  font-size: 12px;
  text-align: right;
  color: rgba(248, 244, 9, 0.774);
}
.acknowlegment {
  font-size: 10px;
  text-align: right;
  color: white;
}
.acknowlegment a {
  color: rgba(248, 244, 9, 0.774);
}
#contactContainerMain {
  display: flex;
  width: 180px;
  align-content: flex-start;
  justify-content: space-evenly;
  padding-bottom: 200px;
  padding-left: 50px;
}

/* contact page styling*/

#contactContainer {
  display: flex;
  width: 180px;
  align-content: flex-start;
  justify-content: space-evenly;
  padding-bottom: 200px;
}
